body{
  margin: 160px auto;
  width: 80%;
  min-width: 480px;
  padding: 1em
}

h1, h2, p{
  letter-spacing: 0.8px; font-family: Noto Sans Korean Light;
}

h2, p{
  margin-bottom: 40px;
}

h1{
  margin-bottom: 60px; font-size: 37px; font-weight: 700; line-height: 48px; color: #5c5cb2;
}

h2{
  font-size: 18px; font-weight: 700; line-height: 28px; color: #333333;
}

p{
  font-size: 14px;  line-height: 29px; color: #333333;
}

b{
  font-weight: 700; color: #2e84b6;
}

.review-01 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.review-02 {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}